@using EcommerceWebsite.Models;
@model IEnumerable<TagName>
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Special Tag List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fa-solid fa-plus"></i>&nbsp; New Tag Name</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(expression: c => c.TagNames)
            </th>
            <th></th>
            <th></th>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.TagNames</td>
                <td>
                    <partial name="_ButtonTagsPartial" model="@item.Id" />
                </td>
            </tr>
        }
        </table>
    </div>

@section scripts{ 
    <script type ="text/javascript">
        $(function(){
            var save = '@TempData["save"]'
            if (save != "") {
                alertify.success(save);
            }
        })
    </script>
    <script text="text/javascript">
        $(function () {
            var deleted = '@TempData["delete"]'
            if (deleted != "") {
                alertify.error(deleted);
            }
        })
    </script>
}