@using EcommerceWebsite.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Products>;
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div style="background-image: url(https://images.unsplash.com/photo-1606075920560-c43aa8659a3c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); background-size: cover; 
        width: 100vw; position: relative; left: 50%; right: 40%; margin-left: -50vw; margin-right: -50vw; margin-bottom: 5vw">
        <div style=" text-align: center; padding-top: 25%; padding-bottom: 25%; text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="content" style="color: white">
                            <h1>Ecommerce Website</h1>
                            <h3>My Website Project</h3>
                            <hr style="background-color:white">
                            <a href="#products" class="btn btn-default btn-lg" style="color: white" id="shop"><i class="fa-solid fa-money-bill"></i> Start Shopping!</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 id="products">Products</h1>
<hr />
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size:23px;color:black; font-family: 'Courier New', monospace;">@product.Name</label>
                    </h4>
                </div>
                <img src="/@product.Image" alt="Card Image" class="card-img-top" style="height:300px" />
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:20px;color:#a51313"><b>$@product.Price</b></label>
                        </div>
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@product.Id" class="btn btn-outline-info float-right">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.PagedListPager(Model, generatePageUrl: c => Href(contentPath: "~/Customer/Home/Index?page=" + c), PagedListRenderOptions.Classic)
</div>

@section Scripts {
    <script type="text/javascript">
        $(function(){
            var order = '@TempData["checkout"]'
            if (order != "") {
                // Extend existing 'alert' dialog
                if (!alertify.errorAlert) {
                    //define a new errorAlert base on alert
                    alertify.dialog('errorAlert', function factory() {
                        return {
                            build: function () {
                                var errorHeader = '<span class="fa-solid fa-circle-check" '
                                    + 'style="vertical-align:middle;color:#09cf02;">'
                                    + '</span> Order Placed';
                                this.setHeader(errorHeader);
                            }
                        };
                    }, true, 'alert');
                }
                //launch it.
                // since this was transient, we can launch another instance at the same time.
                alertify
                    .errorAlert(order + "<br/><br/><br/>");
            }
        })
    </script>
    <script type="text/javascript">
        $(function(){
            var save = '@TempData["addcart"]'
            if (save != "") {
                alertify.success(save);
            }
        })
    </script>
<script type="text/javascript">
    $("#shop").click(function () {
        $('html, body').animate({
            scrollTop: $("#products").offset().top
        }, 2000);
    });
</script>
}