@using EcommerceWebsite.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Products>;
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div style="background-image: url(https://images.unsplash.com/photo-1596367407372-96cb88503db6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); background-size: cover; width: 100vw; position: relative; left: 50%; right: 40%; margin-left: -50vw; margin-right: -50vw; margin-bottom: 5vw">
        <div style=" text-align: center; padding-top: 25%; padding-bottom: 25%; text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="content" style="color: white">
                            <h1>Ecommerce Website</h1>
                            <h3>My Website Project</h3>
                            <hr style="background-color:white">
                            <a href="#products" class="btn btn-default btn-lg" style="color: white" id="shop"><i class="fa-solid fa-money-bill"></i> Start Shopping!</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 id="products">Products</h1>
<hr />
<div id="table1">
    <partial name="_IndexPartial" model="@Model" />
</div>


@section Scripts {
    <script type="text/javascript">
        $(function(){
            var order = '@TempData["checkout"]'
            if (order != "") {
                // Extend existing 'alert' dialog
                if (!alertify.errorAlert) {
                    //define a new errorAlert base on alert
                    alertify.dialog('errorAlert', function factory() {
                        return {
                            build: function () {
                                var errorHeader = '<span class="fa-solid fa-circle-check" '
                                    + 'style="vertical-align:middle;color:#09cf02;">'
                                    + '</span> Order Placed';
                                this.setHeader(errorHeader);
                            }
                        };
                    }, true, 'alert');
                }
                //launch it.
                // since this was transient, we can launch another instance at the same time.
                alertify
                    .errorAlert(order + "<br/><br/><br/>");
            }
        })
    </script>
    <script type="text/javascript">
        $(function(){
            var addcart = '@TempData["addcart"]'
            if (addcart != "") {
                alertify.success(addcart);
            }
        })
    </script>
    <script type="text/javascript">
        $(function(){
            var save = '@TempData["save"]'
            if (save != "") {
                alertify.success(save);
            }
        })
    </script>
    <script type="text/javascript">
        $(function(){
            var login = '@TempData["login"]'
            if (login != "") {
                alertify.success(login);
            }
        })
    </script>
<script type="text/javascript">
    $("#shop").click(function () {
        $('html, body').animate({
            scrollTop: $("#products").offset().top
        }, 2000);
    });
</script>
<script language="javascript " type="text/javascript">
    $(function () {
        function interceptPaging() {
            $("#table1 .pagination a").click(function (event) {
                event.preventDefault();

                $.get($(this).attr("href"),
                    function (d) {
                        $("#table1").html(d);
                        interceptPaging();
                    });
            });
        }

        interceptPaging();
    });
</script>
}